/.idea
/.vagrant
/App/Config/project.autogen.json
/App/AtosSips
/Change
/Compilation
/tmp
/vendor
/Plugins
/log/other
/log/project
/www/Assets
/www/Imagestorage
/www/admin.php
/www/ajax.V1.php
/www/ajax.php
/www/index.php
/www/rest.V1.php
/www/rest.php
/App/bin/request
/App/bin/response
